<button class="subheader" [routerLink]="['/home']">Back to Shows</button>
<div *ngIf="specificShow!.cast!.length > 0; else noResults">
    <h3>{{specificShow!.name}}</h3>
    <div *ngFor="let t of specificShow!.cast">
        <div class="row mr-4 higlight-row">
            <div class="col-2 ml-4">
                {{t.name}}
            </div>
            <div class="col-6">
                {{t.birthday | date:'MMMM d, y'}}
            </div>
        </div >
    </div>
</div >
<ng-template #noResults>
    <div>No Results sorry</div>
</ng-template>