<mat-toolbar style="background-color: #cc3333;">
  <img src="https://dmarcadvisor.com/wp-content/uploads/2021/05/cropped-Sheep_Icon_Square.png" style="width: 50px; height: 50px;">
    <span style="color: white;">TVMaze Frontend</span>
  </mat-toolbar>
  <br>
<router-outlet></router-outlet>
