
<div class="filter-row">
    <button (click)="sortShows()">Sort {{showNameSort ? "descending" : "ascending"}}</button>
</div>
<br>
<div *ngIf="shows!.length > 0; else noResults">
    <div *ngFor="let t of shows | slice: skip : skip + totalElementsPerPage">
        <a class="row mr-4" [routerLink]="['/shows/' + t.id]">
            <div class="col-2 ml-4">
                {{t.id}}
            </div>
            <div class="col-6">
                {{t.name}}
            </div>
        </a >
    </div>
</div >
<div class="row col-4 startofrow">
    <mat-paginator (page)="onPageChange($event)" [pageSize]="totalElementsPerPage" [length]="shows!.length">
    </mat-paginator>
</div >
<ng-template #noResults>
    <div>No Results sorry</div>
</ng-template>