/* You can add global styles to this file, and also import other style files */
.vertical-center-align {
    display: flex;
    align-items: center;
}

.row-space-between {
    display: flex;
    justify-content: space-between;
 }

 .endofrow{
    justify-content: flex-end;
}

.startofrow{
    justify-content: flex-start;
}

.mr12 {
    margin-right: 12px;
}

.filter-row {
    display: flex;
 
     & > button {
         display: flex;
         padding-right: 8px;
     }
 }

 .highlight-row:hover {
    transition: all 0.35s;
    background: var(--default-background);
    cursor: pointer;
}